<div class="mb-12 border-b border-gray-100 pb-8 flex items-center justify-between">
  <div>
    <h1 class="text-4xl font-extrabold text-gray-900 mb-2 tracking-tight">Edit Category</h1>
    <p class="text-gray-500 font-medium italic">Update the details for <%= @category.name %>.</p>
  </div>
  <div>
    <%= link_to "Back to List", admin_categories_path, class: "text-gray-400 hover:text-indigo-600 font-extrabold uppercase text-xs tracking-widest transition flex items-center gap-2" %>
  </div>
</div>

<%= render "form", category: @category %>
